.container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-top: var(--container-border);
    width: 49%;
    box-shadow: var(--container-box-shadow);
    padding: 10px;
    height: 400px
}

.container table th {
    color: var(--ternary-text-color);
    font-weight: normal;
    padding: 10px;
}

.container thead {
    position: sticky;
    top: -.3px;
    background-color: var(--primary-color);

    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--secondary-color);
    }
}
.table {

    box-sizing: border-box;
    width: 100%;
    color: var(--primary-text-color);
    border-collapse: collapse;
}
.tableContainer{
    position: relative;
    min-height: 200px;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--secondary-color);
    }

}
.tableContainer {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.tableContainer::-webkit-scrollbar {
    display: none;
}
.container td {
    color: var(--primary-text-color);
    padding: 10px;
    text-align: center;

}
.table tbody tr:not(.noData) {
    border-bottom: 2px solid rgba(191, 161, 92, 0.24);
}
.toolbar{
    width: 100%;
    padding: 10px;
}

.cell {
    padding: 10px;
    height: 62px;
}
.noData{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: bold;

}
