.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-top: var(--container-border);
    height: 720px;
    width: 100%;
    box-shadow: var(--container-box-shadow);
    padding: 10px;
}

.toolbar {
    min-height: 60px;

    display: flex;
    align-items: center;

}

.searchContainer {
    position: relative;

}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.searchInput {
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    box-sizing: border-box;

    &::placeholder {
        color: white;
    }

    &:focus {
        outline: var(--color-focus) solid 2px;
        border-color: transparent;


    }
}

.tableContainer {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.tableContainer::-webkit-scrollbar {
    display: none;
}

.table {

    box-sizing: border-box;
    width: 100%;
    color: var(--primary-text-color);
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    z-index: 1;
    box-shadow: 0 2px 0 var(--secondary-color);
}

.table th {
    text-align: start;
    border-bottom: 2px solid var(--secondary-color)

}


.table tbody tr {
    border-bottom: 2px solid rgba(191, 161, 92, 0.24);
}

.cell {
    padding: 10px;


}

.actionCell {
    text-align: center !important;
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    max-height: 65px;
    flex-shrink: 0;
    border-top: 2px solid var(--secondary-color);
}

.pagination button {
    background-color: transparent;
    outline: none;
    color: var(--primary-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        background-color: rgba(26, 25, 25, 0.42);
        color: rgba(255, 255, 255, .3);
    }
}

@media (max-width: 768px) {
    .tableContainer {
        overflow-x: scroll;
    }

    .searchContainer {
        width: 100%;
    }
}
