.container {


    padding: 20px;
    box-sizing: border-box;

    overflow-y: scroll;
    scrollbar-width: none;
}
.breadcrumbLink{
    text-decoration: none;
    color: #706f6c;
    &:hover{
        text-decoration: underline;
    }
}
.container h2 {
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position:relative;

}
