.container {
    display: block;
    width: 35%;
    background-color: var(--primary-color);
    box-shadow: var(--container-box-shadow);
    border-top: var(--container-border);
    color: var(--primary-text-color);
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
    padding: 20px;

}

.title {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: var(--primary-text-color);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 10px 0;
    }
}