.container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;

}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all .5s ease-in-out;
    opacity: 1;
}

@media (max-width: 768px) {
    .collapsed {
        max-width: 0;
        overflow: hidden;
        opacity: 0;
    }
    .expanded{
        max-width: 100%;
        opacity: 1;
    }
}
