.detailsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap:3%;


}
.detailsWrapper > :last-child:nth-child(odd) {
    grid-column: span 2;
}

@media (max-width:768px){
    .detailsWrapper{
        grid-template-columns: 1fr;
        gap:2%;
    }

}
