.container{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    gap: 4rem;
}
.container h3{
    /*margin-bottom: 30px;*/
}

.filtersContainer{
    /*background-color: red;*/
    gap: 3rem 30%;
    display: grid ;
    padding-inline: 20px;
    grid-template-columns: 1fr 1fr;


}
.actions{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container button{
    font-size: 16px;
    border-radius: 10px;
    width: clamp(100px, 10vw, 200px);
    padding: 10px;
    background-color: var(--btn-primary-bg);
    border: 1px solid transparent;
    color: var(--btn-primary-text);
    cursor: pointer;
    align-self: center;

    &:hover {
        background-color: var(--btn-primary-hover-bg);
        color: var(--btn-primary-text);
    }

    &:disabled {
        background-color: var(--btn-disabled-bg);
        color: var(--btn-disabled-text);
        cursor: not-allowed;
    }
}
@media (max-width: 768px){
    .filtersContainer{
        grid-template-columns: 100%;
        gap: 10px;
        background-color: transparent;
    }
    .container{
        gap: 30px;
    }
    .container h3{
        align-self: center;
    }
}
