:global(.editModal .MuiPaper-root) {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    width: fit-content;
    min-width: 30vw;
    box-sizing: border-box;
    border-radius: 20px;
}

.editModalContent {
    scrollbar-width: none;
    max-height: 60vh;

}

.actions {
    display: flex;
    gap: 20px;
    padding: 20px !important;

    & button {
        font-size: .9rem !important;
        font-weight: bold !important;

    }
}
