:global(.editModal .MuiPaper-root) {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    width: fit-content;
    min-width: 30vw;
    border-radius: 20px;
}
.actions {
    display: flex;
    gap: 20px;
    padding: 20px !important;
    & button {
        font-size: 1.2rem !important;
        font-weight: bold !important;

    }
}
