@font-face {
    font-family: 'readex-pro';
    src: url('../fonts/Readex_Pro/ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'readex-pro', sans-serif !important;
}