* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', Roboto, sans-serif !important;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    direction: rtl;

}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px double black;
    padding-block: 5px;

}

.school-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    justify-content: center;
}

.school-data > span {
    font-weight: bold;
    font-size: 16px;
}

.header img {
    height: 96px;
    width: 96px;

}

.children {
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}

.letterContainer {
    width: 100%;
    padding-block: 0 10px;
    border: 7px double black;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
}

.academic-year {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 250px;
    font-size: 14px;

    border-collapse: collapse;
}

.academic-year > span {
    border: 2px solid rgba(0, 0, 0, .3);
    text-align: center;
    padding: 5px 10px;
}

.academic-year > span:last-of-type {
    border-width: 2px 0 2px 2px;
}

.student-name > span:last-of-type {
    font-weight: bold;

}

.academic-year + span {
    font-size: 14px;
}

.greeting {
    align-self: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.letterContainer > span:last-of-type {

    align-self: flex-end;
}

.letters {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 5px;
    gap: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

table {

    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

td.value {
    text-align: center;
}

.table-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-block: 10px;
}

.net-income {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.net-income > span {
    font-size: 18px;
    font-weight: bold;
}

div.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    /*border-bottom: 4px black double;*/
}

hr {
    border-bottom: 4px black double;
    background-color: white;
    border-top: none;
    margin-block: 20px;
}

.total > td {
    font-weight: bold;
}

.classroom-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-block: 10px;
    gap:10px;
}

.classroom-data > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:10px;
}

@page {
    margin-top: 5px;
}
