.container{
    box-shadow: var(--container-box-shadow);
    border-top: var(--container-border);
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    padding: 20px;
}
.container table{
    width: 100%;
    color: var(--primary-text-color);
}
.container  th{

}
