.container {
    width: 100%;
    height: 10vh;
    background-color: var(--primary-color);
    box-shadow: var(--container-box-shadow);
    /*border-top: var(--container-border);*/
    display: flex;
    direction: ltr;
    color: var(--primary-text-color) !important;
}

.container h4 {

    font-weight: bold;
    margin-bottom: 10px;
}

.texts {
    width: 100%;
    padding: 10px;
    direction: rtl;
    & span{
      font-weight: 600;
    }
}

.icon {

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.MuiSvgIcon-root) {

        font-size: clamp(25px,2.5vw,50px) !important;
    }

}



