.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: fit-content;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 20px;
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    box-sizing: border-box;
    max-height: unset;


}

.title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    row-gap: 3vh;
    column-gap: 3rem;
    padding-block: 20px;
    grid-auto-rows: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.body > div:has( > input) {
    grid-column: span 2;
}

.body > div:first-of-type {
    grid-column: span 2;

}

.body > div:nth-of-type(2) {
    grid-column: span 3;
}

label {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;

}


.options {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

@media (max-width: 768px) {
    .body {
        grid-template-columns: 1fr !important;
        gap: 1rem;
        padding-block: 10px;
    }

    .body > div {
        grid-column: span 1 !important;
        width: 100%;
    }

    .body > div:not(:last-child) {
        margin-bottom: 1rem;
    }

    .actions {
        justify-content: center;
        gap: 5%;
    }

}
