.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: fit-content;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 20px;
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    box-sizing: border-box;
}

.title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap: 3rem 30%;
    padding-block: 20px;
}
.body> div{
    grid-column: span 2;
}

.inputWrapper input {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;

    margin-bottom: 5px;

    &:focus {
        outline: 3px solid var(--color-focus);
        border-color: var(--color-focus);
    }

    width: 100%;


}
.options{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.body>div:first-child,
.body>div:has(textarea),
.body>div:nth-child(2){
    grid-column: span 3;



}
@media (max-width: 768px){
    .body{
        grid-template-columns: 1fr;

    }
    br {
        display: none;
    }
    .body > div{
        grid-column: span 4 !important;
    }
}
