.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: fit-content;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 20px;
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
}

.title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    row-gap: 3rem;
    column-gap: 30%;
    padding-block: 20px;
}

.body>div {
    justify-content: flex-start;
    gap: 30%;
}

.body>div:first-child {
    width: 50%;
}

.body>div:nth-child(2) {
    width: 70%;
}

.mainInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 3rem 30% !important;
}

.actions {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

@media (max-width: 768px) {
    .mainInputs {
        grid-template-columns: 1fr;
        gap: 10px !important;
    }

    .body>div:first-child,
    .body>div:nth-child(2) {
        width: 100%;
    }



}
