.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: fit-content;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 20px;
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    box-sizing: border-box;
    max-height: unset;


}

.title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    row-gap: 3vh;
    column-gap: 3rem;
    padding-block: 20px;
    grid-auto-rows: auto;
}


.body > div:first-of-type {
    grid-column: span 2;

}

label {
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;

}

/*.inputWrapper input {*/
/*    padding: 10px;*/
/*    border: 1px solid var(--secondary-color);*/
/*    border-radius: 5px;*/

/*    margin-bottom: 5px;*/

/*    &:focus {*/
/*        outline: 3px solid var(--color-focus);*/
/*        border-color: var(--color-focus);*/
/*    }*/

/*    width: 100%;*/


/*}*/
/*.options{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 90%;*/
/*}*/

/*.body>div:first-child,*/
/*.body>div:has(textarea),*/
/*.body>div:nth-child(2){*/
/*    grid-column: span 3;*/
.options{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

@media (max-width: 768px) {
    .body {
        grid-template-columns: 1fr !important;
        gap: 1rem;

    }

    .body > div {
        grid-column: span 1 !important;
        width: 100%;
    }

    .body > div:not(:last-child) {
        margin-bottom: 1rem;
    }


}
