.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    width: 100%;

}

.inputWrapper label {
    color: var(--primary-text-color);
    font-size: 1rem;
}

.radioContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.fullWidth {
    width: 100% !important;
}

.radioGroup {
    width: 100% !important;
    gap:10%;
    flex-wrap: wrap !important;


}

:global(.MuiFormControlLabel-root) {
    justify-content: flex-start;
    margin-right: 0 !important;
    width: fit-content;
}

.radioGroup :global(.MuiRadio-root) {
    color: white;

}


.radioContainer :global(.MuiFormHelperText-root.Mui-error) {
    color: var(--color-danger);
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    bottom: -20px;
    margin-left: 0;

}

@media (max-width: 768px) {
    .inputWrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .radioContainer {
        width: 100%;
    }

    .radioGroup {
        gap: 0;
    }
}
