.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    width: 15vw;
    background-color: var(--primary-color);
    scrollbar-width: none;
    border-left: 3px solid var(--secondary-color);
    transition: all .5s ease-in-out;
}

.searchContainer {
    position: relative;
    margin: 1rem;
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.searchInput {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    box-sizing: border-box;

    &::placeholder {
        color: white;
    }

    &:focus {
        outline: #0176fa solid 2px;
        border-color: transparent;


    }
}

.open {
    max-width: 15vw;
    opacity: 1;
}

.closed {
    max-width: 0;
    border: none;
    opacity: 0;
}
