.container {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;

}

.title {
    margin-bottom: 20px;
    font-size: 24px;
}

.container table {
    width: 100%;
    border-spacing: 15px;

}

.container td {
    padding-block: 10px;
    text-align: center;
}

.label {
    color: var(--ternary-text-color)
}

