.navbar {
    background-color: var(--primary-color);
    height: 8vh;
    min-height: 75px;
    width: 100%;
    border-bottom: 3px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);
    padding-inline: 1vw;
}
:global(img){
    height: 64px;
    width: 64px;
}
.menuIcon{
    color: var(--primary-text-color);

}
