.container {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.tabsWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;

    & span {
        color: var(--ternary-text-color);
        font-weight: bold;
        font-size: 20px;
    }
}
