.container {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    padding: 20px;
    display: flex;
}
