.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);

    }


    position: relative;
}

.dropdown {
    position: absolute;
    display: flex;
    left: 0;
    right:0;
    top: 100%;
    background-color: var(--primary-color);
    border-radius: 0 0 8px 8px;
    min-height: 100px;
    flex-direction: column;
    transition: max-height .2s ease-in-out, min-height .2s ease-in-out, opacity .2s ease-in-out;
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    z-index: 100;
    border: 2px solid var(--secondary-color);
}

.dropdown.closed {
    max-height: 0;
    min-height: 0;
    opacity: 0;
    pointer-events: none;
}

.dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: right;
    width: 100%;
    color: var(--primary-text-color);
    font-size: 14px;
    max-height: 40px;
    border-bottom: 1px solid var(--secondary-color);

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:last-of-type:not(:first-of-type) {
        border: none;
    }
}


@media (max-width: 768px) {
    .dropdown {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        max-height: 40vh;
        min-height: 40vh;
        border-radius: 0;
        border-inline:none;
        border-top: none;
        border-bottom: 3px solid var(--secondary-color)
    }
}
