.container {
    background-color: var(--primary-color);
    min-height: 20vh;
    width: 100%;
    border-top: var(--container-border);
    box-shadow: var(--container-box-shadow);
    color: var(--primary-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    font-size: 1.25rem;
}

.formInputs {
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 20%;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.inputGroup {
    display: flex;
    align-items: center;
    gap: 10px;


    padding: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;

    & input {
        width: 50%;
    }
}

.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        font-size: 16px;
        border-radius: 10px;
        width: clamp(100px, 10vw, 200px);
        padding: 10px;
        background-color: var(--primary-text-color);
        border: 1px solid transparent;
        color: black;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--primary-text-color);
            color: var(--primary-text-color);
            background-color: transparent;
        }

        &:disabled {
            background-color: grey;
            color: white;
            border: gray;
            cursor: not-allowed;
        }
    }
}

input:disabled {
    color: rgba(255, 255, 255, .5);
}

@media (max-width: 768px) {
    .inputWrapper {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .inputGroup {
        margin-top: 10px;
        width: 100%;
    }

    .inputWrapper input {
        width: 100%;
    }
}
