
.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.helperText {
    color: var(--ternary-text-color) !important;
    width: 100%;
    display: flex;

}

.inputWrapper textarea {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-family: inherit;
    resize: vertical;

    margin-bottom: 5px;

    &:focus {
        outline: 3px solid var(--color-focus);
        border-color: var(--color-focus);
    }

    width: 100%;


}

.error {
    outline: 2px solid var(--color-danger) !important;
    border-color: var(--color-danger) !important;
}

.error+span,
.error+button+span {
    font-size: 12px !important;
}

.inputWrapper label {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;

}

.inputWrapper span {
    color: var(--color-danger);
    position: absolute;
    font-size: 14px;
    bottom: -17px;
}

.inputWrapper div {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
}


.modalInputWrapper {
    flex-direction: column;
    align-items: flex-start;

    & div {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .inputWrapper {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .inputWrapper div {
        width: 100%;
    }

    .inputWrapper textarea {
        width: 100%;
    }
}
