html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100vh;

}

::selection {

    color: black !important;
    background-color: var(--secondary-color) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'readex-pro', Roboto, sans-serif !important;
}

:root {
    --primary-color: #1b223c;
    --primary-text-color: #fefffe;
    --secondary-color: #bfa15c;
    /*--color-danger: #E63946*/
    --color-danger: #be434a;
    --ternary-text-color: #cbab62;
    /*--color-danger: rgb(190, 67, 74)*/
    --color-focus: #0176fa;
    --container-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    --container-border: 5px solid var(--secondary-color);
}


h1 {
    font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw + 0.5rem, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 2vw + 0.5rem, 2rem);
}

label {
    font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}

input,
select,
textarea {
    font-size: clamp(0.9375rem, 0.6vw + 0.75rem, 1.0625rem);
}

ul {
    list-style-position: inside;
}

.serverError {

    height: 40vh;
    width: 100%;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    /*border-top: var(--container-border);*/
    /*box-shadow: var(--container-box-shadow);*/
}
