body {
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;

}
#root{
    min-height: 100dvh;
    min-width: 100dvw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1b223c;
    --primary-text-color: #fefffe;
    --secondary-color: #bfa15c;
    /*--color-danger: #E63946*/
    --color-danger: #be434a;
    /*--color-danger: rgb(190, 67, 74)*/
}


