.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.inputWrapper > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.inputWrapper label {
    color: var(--primary-text-color);
}

.selectField {
    font-size: 16px !important;

    width: 100%;
    box-sizing: border-box;
    background-color: white !important;
    position: relative;
    &:focus {
        outline: 3px solid var(--color-focus)
    }
}
:global(.MuiSelect-select){
    padding: 10px 32px 10px 10px !important;
    border-radius: 10px !important;
}
:global(.Mui-selected){
    background-color: var(--secondary-color) !important;
}

.inputWrapper select[dir="auto"]:dir(rtl) {
    background-position: left 10px top 50%;
    background-size: .65em auto;
    padding-right: 10px;
    padding-left: 30px;
}

.inputWrapper select[dir="auto"]:dir(ltr) {
    background-position: right 10px top 50%;
    background-size: .65em auto;
    padding-left: 10px;
    padding-right: 30px;
}

.inputWrapper span {
    color: var(--color-danger);
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    bottom: -20px;
}

.inputWrapper select.error {
    border-color: var(--color-danger);
}

@media (max-width: 768px) {
    .inputWrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .inputWrapper select{
        width: 100%;
    }
    .inputWrapper > div {
        width: 100%;

    }


}
