:global(.seatAssignmentModal .MuiPaper-root) {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    min-width: 30vw;
    border-radius: 20px;
    padding: 10px;
}

.title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px !important;
}

.actions {
    display: flex;
    gap: 20px;
    padding: 20px !important;
    justify-content: center;
}

.actions button {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}
