.formInputs {
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 20%;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.formSection{
    width: 100%;
    color: var(--primary-text-color);
    padding-bottom: 20px;
}
.formSection:not(:first-of-type){
    border-top: 2px solid var(--secondary-color);
    & .sectionTitle{
        margin-top: 20px;
    }
}
.formTitle {
    color: var(--primary-text-color);
    align-self: flex-start;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.sectionTitle{
    font-size: 1.5rem;
    margin-bottom: 20px;
}


.modalForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.modalInputs {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.modalForm .inputWrapper {
    flex-direction: column;
}

.form {
    box-shadow: var(--container-box-shadow);
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    border-top: var(--container-border);
    flex-direction: column;
    align-items: center;
}


.form button[type=submit] {
    font-size: 16px;
    border-radius: 10px;
    width: clamp(100px, 10vw, 200px);
    padding: 10px;
    background-color: var(--primary-text-color);
    border: 1px solid transparent;
    color: black;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--primary-text-color);
        color: var(--primary-text-color);
        background-color: transparent;
    }

    &:disabled {
        background-color: grey;
        color: white;
        border: gray;
        cursor: not-allowed;
    }
}

@media (max-width: 768px) {
    .formInputs {
        grid-template-columns: repeat(1, 1fr);

    }

    .modalInputs {
        gap: 10px;
    }
}
