.formInputs {
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 20%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.form {
    box-shadow: var(--container-box-shadow);
    display: flex;
    padding: 20px;
    gap: 50px;
    background-color: var(--primary-color);
    border-top: var(--container-border);
    flex-direction: column;
    align-items: center;
}

.form button[type=submit] {
    font-size: 16px;
    border-radius: 10px;
    width: clamp(100px, 10vw, 200px);
    padding: 10px;
    background-color: var(--primary-text-color);
    border: 1px solid transparent;
    color: black;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--primary-text-color);
        color: var(--primary-text-color);
        background-color: transparent;
    }

    &:disabled {
        background-color: grey;
        color: white;
        border: gray;
        cursor: not-allowed;
    }
}

@media (max-width: 768px) {
    .formInputs {
        grid-template-columns: repeat(1, 1fr);

    }
}
